* {
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    margin: 0;
    padding: 0;
}
/* FONT */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.public-sans-<uniquifier> {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* Main container styles */


/* Header and Nav Styles */
#nav-bar{
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

/* Nav Div Styles */
#dropdown img{
    display: none;
}
#head-links ul {
    color: rgb(186, 191, 199);
    list-style-type: none;
}
#head-links  li {
    float: left;
}
#head-links li a {
    display: block;
    color: rgb(135, 138, 143);
    text-align: center;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
}
#head-links li a:hover {
    color: rgb(110, 104, 104);
    
}

#nav-bar ul li a {
    display: block;
    padding: 1rem 2rem;
    color: rgb(186, 191, 199);
    text-decoration: none;
    transition: background-image 0.3s ease;
}

#nav-bar ul li a:hover {
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 1; 
}

#head-button button, footer button {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 25px;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
#head-button button:hover, footer button:hover {
    background-position: 100% 0%;
    background-image: linear-gradient(to right, hsl(136, 70%, 60%), hsl(192, 75%, 65%));
}
#dropdown img{
    display: none;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hwb(0 0% 100% / 0.5);
}

.modal-content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.modal-content a {
    text-decoration: none;
    color: hsl(0, 1%, 34%);
    line-height: 40px;
}
.intro-image {
    background-image: url(Images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height:550px;

  }

  .intro-image img.mockups {
    position: absolute;
    right: 0;
    top: -10rem;
    width: 50%;
  }


/* Main Body Container Styles */
#container {
    background-color: white;
    max-height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Cover and Overlay Image Styling */


/* Panel 1 */
.panel-one { 
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10rem; */
    position: relative;
    z-index: 1;
}

.intro-text {
    /* padding: 5rem 0 5rem 5rem; */
    width: 50%;
    padding: 10rem 0 10rem 10rem;
}
.intro-header-text {
    color: hsl(233, 26%, 24%);
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
}
.intro-desc {
    line-height: 25px;
    color: rgb(141, 144, 150);
    font-size: 16px;
    margin-bottom: 30px;
}
.panel-one button {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 25px;    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.panel-one button:hover {
    background-position: 100% 0%;
    background-image: linear-gradient(to right, hsl(136, 70%, 60%), hsl(192, 75%, 65%));
}

/* Panel 2 */
.panel-two {
    align-items: start;
    background-color: hsl(0, 3%, 94%);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem;
}
.panel-two-text h2{
    color: hsl(233, 26%, 24%);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}
.panel-two-text p {
    line-height: 25px;
    color: rgb(141, 144, 150);
    font-size: 16px;
    margin-bottom: 30px;
}
.panel-two-cards {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.mid-card-1, .mid-card-2, .mid-card-3, .mid-card-4 {
    line-height: 25px;
    color: rgb(141, 144, 150);
    font-size: 12px;
    margin-bottom: 10px;
}
.mid-card-1 h3, .mid-card-2 h3, .mid-card-3 h3, .mid-card-4 h3 {
    color: hsl(233, 26%, 24%);
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
}
.mid-card-1 img, .mid-card-2 img, .mid-card-3 img, .mid-card-4 img{
    margin-bottom: 1rem;
    margin-top: 2rem;

}

/* panel 3 */
.panel-three {
    align-items: start;
    background-color: hsl(0, 0%, 98%);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem;

}
.panel-three-header h2{
    color: hsl(233, 26%, 24%);
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}
.panel-three-cards {
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}
.article-1, .article-2, .article-3, .article-4{
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 5px;

}
.article-1 img, .article-2 img, .article-3 img, .article-4 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 250px;
    height: 200px;
}

.art-one-cont, .art-two-cont, .art-three-cont, .art-four-cont {
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.art-one-cont p, .art-two-cont p, .art-three-cont p, .art-four-cont p{
    line-height: 20px;
    color: rgb(141, 144, 150);
    font-size: 12px;
    margin-bottom: 10px;
}
.art-one-cont h4, .art-two-cont h4, .art-three-cont h4, .art-four-cont h4 {
    color: hsl(233, 26%, 24%);
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}


/* Footer Styling */
footer {
    background-color: hsl(233, 26%, 24%);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem; 
}

/* Footer Div Styling */
.footer-logo-and-social, .footer-links, .footer-button-and-cr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-logo-and-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-logo svg {
    margin: 20px 0 20px 0;
    width: 150px;
    height: 20px;
}
.footer-social-icons {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 200px;
}
.footer-links {
    display: flex;
    flex-direction: row;
}
.footer-links ul {
    list-style: none;

}
.footer-links li a {
    display: flex;
    flex-direction: column;
    text-align: justify;
    color: rgb(135, 138, 143);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.footer-links-one {
    margin-right: 10rem;
}
.footer-button-and-cr p {
    margin-top: 20px;
    text-align: justify;
    color: rgb(135, 138, 143);
    font-size: 20px;
    font-weight: 600;
}          
/* Responsive Design */
@media only screen and (max-width: 375px) {
    #container {
        background-color: white;
        max-height: fit-content;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    /* Nav bar */
    #nav-bar {
        justify-content:space-between ;
        position:relative
    }
    #dropdown img{
        display: flex;
    }
    #head-links, #head-button {
        display: none;
    }

    /* Panel 1 */
.panel-one {
    align-items: center;
    height: 140vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.panel-one button {
    width: 70%;
}
.intro-text {
    align-items: center;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

    .intro-image {
        background-image: url(Images/bg-intro-mobile.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height:100%;
    
      }

.intro-image img.mockups {
    position: absolute;
    top: -10rem;
    width: 100%;
  }


/* Panel 2 */
.panel-two {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
.panel-two-text h2{
    text-align: center;
}
.panel-two-text p {
    text-align: center;
}
.panel-two-text {
    align-items: center;
padding: 2rem;
}
.panel-two-cards {
    align-items: center;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.mid-card-1, .mid-card-2, .mid-card-3, .mid-card-4 {
    display: flex;
    line-height: 25px;
    color: rgb(141, 144, 150);
    font-size: 12px;
    margin-bottom: 10px;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
}

/* Panel 3 */

.panel-three{
    align-items: center;
    padding: 1rem;
}
.panel-three-cards {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    width: auto;
    align-items: center;
}




    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
    }
    .footer-logo-and-social {
        margin-bottom: 20px;
    }
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-links li a {
        display: flex;
        flex-direction: column;
        text-align: justify;
        color: rgb(135, 138, 143);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        align-items: center;
        margin-bottom: 20px;
    }    
    .footer-links-one {
        margin-right: 0;
    }
    .footer-logo-and-social, .footer-links, .footer-button-and-cr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}